Repository bonk-build/bonk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, buf-fmt, buf-lint

go-mod-tidy:
  name: go mod tidy
  language: system
  entry: go mod tidy
  pass_filenames: false

buf-fmt:
  name: buf format
  language: system
  entry: go tool buf format
  pass_filenames: false

buf-lint:
  name: buf lint
  language: system
  entry: go tool buf lint
  pass_filenames: false

refactor(plugin): simplify plugin interfaces (#153)
  api/go/executor.go
  api/go/log_streaming.go
  api/go/plugin.go
  cmd/bonk/main.go
  pkg/plugin/client.go
  pkg/plugin/client_manager.go
  pkg/plugin/manager.go
  plugins/test/test_test.go
  test/testing.go
Due: go-mod-tidy

fix(exec): task executor being wiped
  pkg/executor/manager.go
  pkg/executor/manager_test.go
Due: go-mod-tidy

fix(exec): task executor being wiped (#159)
  pkg/executor/manager.go
  pkg/executor/manager_test.go
Due: go-mod-tidy

refactor(plugin): simplify plugin client interface further
  api/go/plugin.go
  pkg/executor/grpc.go
  pkg/executor/grpc_test.go
  pkg/plugin/client.go
  pkg/plugin/executor.go
  pkg/plugin/log_streaming.go
  test/testing.go
Due: go-mod-tidy

refactor(plugin): simplify log-streaming client impl
  pkg/plugin/client.go
  pkg/plugin/log_streaming.go
Due: go-mod-tidy

refactor(plugin): further simplify plugin clients (#160)
  api/go/plugin.go
  pkg/executor/grpc.go
  pkg/executor/grpc_test.go
  pkg/plugin/client.go
  pkg/plugin/executor.go
  pkg/plugin/log_streaming.go
  test/testing.go
Due: go-mod-tidy

refactor: move executor types to subpackages of executor
  api/go/executor.go
  api/go/log_streaming.go
  api/go/plugin.go
  cmd/bonk/main.go
  pkg/executor/plugin/client.go
  pkg/executor/plugin/client_manager.go
  pkg/executor/plugin/log_streaming.go
  pkg/executor/rpc/grpc.go
  pkg/executor/rpc/grpc_test.go
  pkg/executor/rpc/proto_conversion.go
  pkg/executor/tree/tree.go
  pkg/executor/tree/tree_test.go
  test/testing.go
Due: go-mod-tidy

refactor: move executor types to subpackages of executor (#161)
  api/go/executor.go
  api/go/log_streaming.go
  api/go/plugin.go
  cmd/bonk/main.go
  pkg/executor/plugin/client.go
  pkg/executor/plugin/client_manager.go
  pkg/executor/plugin/log_streaming.go
  pkg/executor/rpc/grpc.go
  pkg/executor/rpc/grpc_test.go
  pkg/executor/rpc/proto_conversion.go
  pkg/executor/tree/tree.go
  pkg/executor/tree/tree_test.go
  test/testing.go
Due: go-mod-tidy

docs: add executor package docs
  pkg/executor/doc.go
Due: go-mod-tidy

docs: add executor package docs (#163)
  pkg/executor/doc.go
Due: go-mod-tidy

test(sched): add basic taskstate tests
  pkg/scheduler/taskstate.go
  pkg/scheduler/taskstate_test.go
Due: go-mod-tidy

test(sched): add basic taskstate tests (#167)
  pkg/scheduler/taskstate.go
  pkg/scheduler/taskstate_test.go
Due: go-mod-tidy

refactor(task): move all FS handling to session
  api/go/executor.go
  api/go/testing.go
  cmd/bonk/main.go
  pkg/executor/rpc/grpc.go
  pkg/executor/rpc/grpc_test.go
  pkg/executor/tree/tree_test.go
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/taskstate.go
  pkg/scheduler/taskstate_test.go
  pkg/task/conversions.go
  pkg/task/executor.go
  pkg/task/executor_mock.go
  pkg/task/session.go
  pkg/task/task.go
  pkg/task/testing.go
  plugins/k8s/kustomize/kustomize.go
  plugins/k8s/resources/resources.go
  plugins/test/test_test.go
  test/testing.go
Due: go-mod-tidy

refactor(task): move all FS handling to session (#168)
  api/go/executor.go
  api/go/testing.go
  cmd/bonk/main.go
  pkg/executor/rpc/grpc.go
  pkg/executor/rpc/grpc_test.go
  pkg/executor/tree/tree_test.go
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/taskstate.go
  pkg/scheduler/taskstate_test.go
  pkg/task/conversions.go
  pkg/task/executor.go
  pkg/task/executor_mock.go
  pkg/task/session.go
  pkg/task/task.go
  pkg/task/testing.go
  plugins/k8s/kustomize/kustomize.go
  plugins/k8s/resources/resources.go
  plugins/test/test_test.go
  test/testing.go
Due: go-mod-tidy

refactor(api): reimplement logstreaming handler with slogmulti
  api/go/log_streaming.go
Due: go-mod-tidy

refactor(api): reimplement logstreaming handler with slogmulti (#169)
  api/go/log_streaming.go
Due: go-mod-tidy

chore(deps): run go get -u ./...
  go.mod
  go.sum
Due: none

chore(deps): run go get -u ./... (#170)
  go.mod
  go.sum
Due: none

refactor(log): implement log-streaming at the rpc level
  api/go/executor.go
  api/go/log_streaming.go
  api/go/plugin.go
  api/proto/bonk/v0/bonk.pb.go
  api/proto/bonk/v0/bonk.proto
  api/proto/bonk/v0/bonk_grpc.pb.go
  api/proto/bonk/v0/log_streaming.pb.go
  api/proto/bonk/v0/log_streaming.proto
  api/proto/bonk/v0/log_streaming_grpc.pb.go
  go.mod
  go.sum
  pkg/executor/plugin/client.go
  pkg/executor/plugin/log_streaming.go
  pkg/executor/rpc/client.go
  pkg/executor/rpc/grpc.go
  pkg/executor/rpc/grpc_test.go
  pkg/executor/rpc/server.go
Due: go-mod-tidy, buf-fmt, buf-lint

refactor(log): implement log-streaming at the rpc level (#172)
  api/go/executor.go
  api/go/log_streaming.go
  api/go/plugin.go
  api/proto/bonk/v0/bonk.pb.go
  api/proto/bonk/v0/bonk.proto
  api/proto/bonk/v0/bonk_grpc.pb.go
  api/proto/bonk/v0/log_streaming.pb.go
  api/proto/bonk/v0/log_streaming.proto
  api/proto/bonk/v0/log_streaming_grpc.pb.go
  go.mod
  go.sum
  pkg/executor/plugin/client.go
  pkg/executor/plugin/log_streaming.go
  pkg/executor/rpc/client.go
  pkg/executor/rpc/grpc.go
  pkg/executor/rpc/grpc_test.go
  pkg/executor/rpc/server.go
Due: go-mod-tidy, buf-fmt, buf-lint

feat(rpc): make rpc session implement LocalSession
  pkg/executor/rpc/server.go
Due: go-mod-tidy

feat(rpc): make rpc session implement LocalSession (#174)
  pkg/executor/rpc/server.go
Due: go-mod-tidy

feat(sched): add task info to log contexts
  pkg/scheduler/scheduler.go
Due: go-mod-tidy

feat(cli): enable the slogctx logger to pick up extra attrs
  cmd/bonk/main.go
Due: go-mod-tidy

feat(sched): add task info to log contexts (#175)
  pkg/scheduler/scheduler.go
Due: go-mod-tidy

feat(cli): enable the slogctx logger to pick up extra attrs (#176)
  cmd/bonk/main.go
Due: go-mod-tidy

refactor(task): remove Name() from Executor
  api/go/executor.go
  api/go/log_streaming.go
  api/go/plugin.go
  api/go/testing.go
  pkg/executor/plugin/client.go
  pkg/executor/plugin/client_manager.go
  pkg/executor/rpc/client.go
  pkg/executor/rpc/grpc_test.go
  pkg/executor/rpc/server.go
  pkg/executor/tree/tree.go
  pkg/executor/tree/tree_test.go
  pkg/task/executor.go
  pkg/task/executor_mock.go
  plugins/k8s/kustomize/kustomize.go
  plugins/k8s/resources/resources.go
  plugins/test/test.go
Due: go-mod-tidy

refactor(task): remove Name() from Executor (#178)
  api/go/executor.go
  api/go/log_streaming.go
  api/go/plugin.go
  api/go/testing.go
  pkg/executor/plugin/client.go
  pkg/executor/plugin/client_manager.go
  pkg/executor/rpc/client.go
  pkg/executor/rpc/grpc_test.go
  pkg/executor/rpc/server.go
  pkg/executor/tree/tree.go
  pkg/executor/tree/tree_test.go
  pkg/task/executor.go
  pkg/task/executor_mock.go
  plugins/k8s/kustomize/kustomize.go
  plugins/k8s/resources/resources.go
  plugins/test/test.go
Due: go-mod-tidy

refactor(api): merge plugin api into pkg
  api/go/export.go
  api/go/plugin.go
  pkg/executor/plugin/log_streaming.go
  pkg/executor/plugin/server.go
  pkg/executor/plugin/testing.go
  plugins/k8s/kustomize/kustomize.go
  plugins/k8s/resources/resources.go
  plugins/test/test.go
Due: go-mod-tidy

refactor(api): move api out of proto directory
  api/bonk/v0/bonk.pb.go
  api/bonk/v0/bonk.proto
  api/bonk/v0/bonk_grpc.pb.go
  buf.gen.yaml
  buf.yaml
  pkg/executor/plugin/server.go
  pkg/executor/rpc/client.go
  pkg/executor/rpc/grpc_test.go
  pkg/executor/rpc/server.go
Due: go-mod-tidy, buf-fmt, buf-lint

refactor(rpc): rewrite NewRPCServer as RegisterRPCServer
  pkg/executor/plugin/server.go
  pkg/executor/rpc/grpc_test.go
  pkg/executor/rpc/server.go
Due: go-mod-tidy

ci: update depguard rule for api
  .golangci.yaml
Due: none

refactor(api): structure overhaul (#179)
  .golangci.yaml
  api/bonk/v0/bonk.pb.go
  api/bonk/v0/bonk.proto
  api/bonk/v0/bonk_grpc.pb.go
  api/go/export.go
  api/go/plugin.go
  buf.gen.yaml
  buf.yaml
  pkg/executor/plugin/log_streaming.go
  pkg/executor/plugin/server.go
  pkg/executor/plugin/testing.go
  pkg/executor/rpc/client.go
  pkg/executor/rpc/grpc_test.go
  pkg/executor/rpc/server.go
  plugins/k8s/kustomize/kustomize.go
  plugins/k8s/resources/resources.go
  plugins/test/test.go
Due: go-mod-tidy, buf-fmt, buf-lint

feat(holos): add initial skeleton for holos builder
  .vscode/launch.json
  cmd/bonk/build.go
  cmd/holos/main.go
  docs/cmd/bonk.md
  go.mod
  go.sum
  plugins/k8s/holos/holos.go
  plugins/k8s/holos/render_component.go
  plugins/k8s/holos/render_platform.go
Due: go-mod-tidy

feat(task): add cue complete functionality & tests
  pkg/task/conversions.go
  pkg/task/conversions_test.go
Due: go-mod-tidy

feat(task): add cue complete functionality & tests (#180)
  pkg/task/conversions.go
  pkg/task/conversions_test.go
Due: go-mod-tidy

test(rpc): refactor to use testify/suite
  pkg/executor/rpc/grpc_test.go
Due: go-mod-tidy

test(rpc): refactor to use testify/suite (#181)
  pkg/executor/rpc/grpc_test.go
Due: go-mod-tidy

docs: update readme with more complete & up to date info
  README.md
Due: none

docs: update readme with more complete & up to date info (#182)
  README.md
Due: none

Path conditions:
  go-mod-tidy: any of: \.go$
  buf-fmt: any of: \.proto$
  buf-lint: any of: \.proto$
