Repository bonk-build/bonk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, buf-fmt, buf-lint

.pre-commit-config.yaml:

# Copyright Â© 2025 Colden Cullen
# SPDX-License-Identifier: MIT

default_stages:
  - pre-commit
  - pre-push

default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push

repos:
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: go mod tidy
        language: system
        entry: go mod tidy
        types: [go]
        pass_filenames: false

      - id: go-generate
        name: go generate
        language: system
        entry: go generate ./...
        pass_filenames: false

      - id: cue-fmt
        name: cue format
        language: system
        entry: cue fmt
        types: [cue]
      - id: cue-vet
        name: cue vet
        language: system
        entry: cue vet -c
        types: [cue, yaml]
        pass_filenames: false

      - id: buf-fmt
        name: buf format
        language: system
        entry: go tool buf format
        types: [proto]
        pass_filenames: false
      - id: buf-lint
        name: buf lint
        language: system
        entry: go tool buf lint
        types: [proto]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: license-header.txt
      - id: check-merge-conflict
      - id: check-vcs-permalinks
      - id: check-toml
      - id: check-json
      - id: check-yaml
        args:
          - --allow-multiple-documents
          - --unsafe
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: detect-private-key
      - id: pretty-format-json
        args:
          - --autofix
          - --no-ensure-ascii
          - --no-sort-keys

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 41.99.2
    hooks:
      - id: renovate-config-validator
        args: [--strict]

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.9.0
    hooks:
      - id: commitizen
        stages:
          - commit-msg
          - manual

  - repo: https://github.com/korandoru/hawkeye
    rev: 77c2515a10d0133ea938118da962a2a2572cbf08
    hooks:
      - id: hawkeye-format-docker

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.4.0
    hooks:
      - id: golangci-lint-config-verify
      - id: golangci-lint-full
      - id: golangci-lint-fmt

fix(bubbles): prepend child task's name parent's (#212)
  pkg/scheduler/bubbletea/messages.go
Due: go-mod-tidy

ci(renovate): update pre-commit hooks weekly
  .renovaterc.json
Due: none

feat(bubbles): overhaul task tree with order & style (#213)
  go.mod
  go.sum
  pkg/scheduler/bubbletea/messages.go
  pkg/scheduler/bubbletea/model.go
  pkg/scheduler/bubbletea/styles.go
  pkg/scheduler/bubbletea/tasknode.go
  pkg/scheduler/bubbletea/tasktree.go
Due: go-mod-tidy

ci(renovate): allow updating go indirect dependencies weekly
  .renovaterc.json
Due: none

ci(renovate): add description to automerge rule
  .renovaterc.json
Due: none

ci(renovate): updates to configuration (#214)
  .renovaterc.json
Due: none

feat(rpc): improve error handling
  pkg/executor/rpc/client.go
  pkg/executor/rpc/codes.go
  pkg/executor/rpc/server.go
Due: go-mod-tidy

feat(rpc): improve error handling (#215)
  pkg/executor/rpc/client.go
  pkg/executor/rpc/codes.go
  pkg/executor/rpc/server.go
Due: go-mod-tidy

refactor(task): move task id to front and make own type
  .golangci.yaml
  api/bonk/v0/bonk.pb.go
  api/bonk/v0/bonk.proto
  cmd/bonk/main.go
  pkg/driver/options.go
  pkg/executor/plugin/log_streaming.go
  pkg/executor/rpc/client.go
  pkg/executor/rpc/grpc_test.go
  pkg/executor/rpc/server.go
  pkg/executor/statecheck/taskstate.go
  pkg/executor/statecheck/taskstate_test.go
  pkg/executor/tree/tree.go
  pkg/executor/tree/tree_test.go
  pkg/scheduler/bubbletea/messages.go
  pkg/scheduler/bubbletea/tasktree.go
  pkg/scheduler/taskflow/scheduler_test.go
  pkg/scheduler/taskflow/taskflow.go
  pkg/task/conversions.go
  pkg/task/conversions_test.go
  pkg/task/task.go
  pkg/task/taskid.go
  plugins/test/test_test.go
Due: go-mod-tidy, buf-fmt, buf-lint

test: improve tests by making any() calls more specific
  pkg/driver/options_test.go
  pkg/executor/rpc/grpc_test.go
  pkg/executor/tree/tree_test.go
  pkg/scheduler/taskflow/scheduler_test.go
  pkg/task/conversions_test.go
Due: go-mod-tidy

refactor(task): rewrite inputs to be an option
  cmd/bonk/main.go
  pkg/driver/options.go
  pkg/executor/rpc/client.go
  pkg/task/task.go
Due: go-mod-tidy

refactor(task): move task id to front and make own type (#217)
  .golangci.yaml
  api/bonk/v0/bonk.pb.go
  api/bonk/v0/bonk.proto
  cmd/bonk/main.go
  pkg/driver/options.go
  pkg/driver/options_test.go
  pkg/executor/plugin/log_streaming.go
  pkg/executor/rpc/client.go
  pkg/executor/rpc/grpc_test.go
  pkg/executor/rpc/server.go
  pkg/executor/statecheck/taskstate.go
  pkg/executor/statecheck/taskstate_test.go
  pkg/executor/tree/tree.go
  pkg/executor/tree/tree_test.go
  pkg/scheduler/bubbletea/messages.go
  pkg/scheduler/bubbletea/tasktree.go
  pkg/scheduler/taskflow/scheduler_test.go
  pkg/scheduler/taskflow/taskflow.go
  pkg/task/conversions.go
  pkg/task/conversions_test.go
  pkg/task/task.go
  pkg/task/taskid.go
  plugins/test/test_test.go
Due: go-mod-tidy, buf-fmt, buf-lint

fix(bubbles): remove debug logs
  pkg/scheduler/bubbletea/tasktree.go
Due: go-mod-tidy

fix(bubbles): remove debug logs (#218)
  pkg/scheduler/bubbletea/tasktree.go
Due: go-mod-tidy

test(state): add test for executor mismatch
  pkg/executor/statecheck/taskstate_test.go
Due: go-mod-tidy

test(tree): test execution failure
  pkg/executor/tree/tree_test.go
Due: go-mod-tidy

test: add tests for some coverage gaps (#219)
  pkg/executor/statecheck/taskstate_test.go
  pkg/executor/tree/tree_test.go
Due: go-mod-tidy

chore(deps): bump devenv versions
  devenv.lock
Due: none

chore(deps): bump devenv versions (#221)
  devenv.lock
Due: none

refactor(task)!: make task non-generic, add arg unwrapping at exec level
  .golangci.yaml
  pkg/driver/driver_mock.go
  pkg/driver/options.go
  pkg/driver/options_test.go
  pkg/executor/doc.go
  pkg/executor/plugin/client.go
  pkg/executor/plugin/client_manager.go
  pkg/executor/plugin/log_streaming.go
  pkg/executor/plugin/server.go
  pkg/executor/plugin/testing.go
  pkg/executor/rpc/client.go
  pkg/executor/rpc/grpc_test.go
  pkg/executor/rpc/server.go
  pkg/executor/statecheck/statecheck.go
  pkg/executor/statecheck/statecheck_test.go
  pkg/executor/statecheck/taskstate.go
  pkg/executor/statecheck/taskstate_test.go
  pkg/executor/tree/tree.go
  pkg/executor/tree/tree_test.go
  pkg/scheduler/bubbletea/messages.go
  pkg/scheduler/bubbletea/scheduler.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/taskflow/scheduler_test.go
  pkg/scheduler/taskflow/taskflow.go
  pkg/task/conversions.go
  pkg/task/conversions_test.go
  pkg/task/executor.go
  pkg/task/executor_mock.go
  pkg/task/result.go
  pkg/task/task.go
  plugins/k8s/kustomize/kustomize.go
  plugins/k8s/resources/resources.go
  plugins/test/test.go
Due: go-mod-tidy

refactor(argconv): move argconv to it's own exec package
  pkg/driver/options.go
  pkg/executor/argconv/conversions.go
  pkg/executor/argconv/conversions_test.go
  pkg/executor/argconv/typedexecutor_mock.go
  pkg/executor/plugin/server.go
  pkg/executor/rpc/grpc_test.go
  pkg/task/executor.go
  pkg/task/executor_mock.go
Due: go-mod-tidy

ci: enable push workflow on pull_request
  .github/workflows/push.yaml
Due: none

test(driver): add test for typed executors
  pkg/driver/options_test.go
Due: go-mod-tidy

ci: enable push workflow on pull_request (#223)
  .github/workflows/push.yaml
Due: none

refactor(task)!: make task.New() non-generic
  pkg/executor/rpc/grpc_test.go
  pkg/scheduler/taskflow/scheduler_test.go
  pkg/task/task.go
  plugins/test/test_test.go
Due: go-mod-tidy

feat(holos): add initial skeleton for holos builder
  .vscode/launch.json
  cmd/bonk/build.go
  cmd/holos/main.go
  docs/cmd/bonk.md
  go.mod
  go.sum
  plugins/k8s/holos/holos.go
  plugins/k8s/holos/render_component.go
  plugins/k8s/holos/render_platform.go
Due: go-mod-tidy

feat(rpc): simplify log-streaming impl & wait for close
  api/bonk/v0/bonk.pb.go
  api/bonk/v0/bonk.proto
  api/bonk/v0/bonk_grpc.pb.go
  pkg/executor/rpc/client.go
  pkg/executor/rpc/grpc_test.go
  pkg/executor/rpc/log_streaming.go
  pkg/executor/rpc/server.go
Due: go-mod-tidy, buf-fmt, buf-lint

chore: remove //import comments
  pkg/executor/plugin/client.go
  pkg/executor/plugin/client_manager.go
  pkg/executor/rpc/proto_conversion.go
  pkg/executor/tree/tree.go
  pkg/scheduler/scheduler.go
  pkg/task/task.go
  plugins/k8s/resources/resources.go
  plugins/test/test.go
Due: go-mod-tidy

Revert "ci: enable push workflow on pull_request (#223)"
  .github/workflows/push.yaml
Due: none

feat(rpc): simplify log-streaming impl & wait for close (#216)
  api/bonk/v0/bonk.pb.go
  api/bonk/v0/bonk.proto
  api/bonk/v0/bonk_grpc.pb.go
  pkg/executor/rpc/client.go
  pkg/executor/rpc/grpc_test.go
  pkg/executor/rpc/log_streaming.go
  pkg/executor/rpc/server.go
Due: go-mod-tidy, buf-fmt, buf-lint

chore: remove //import comments (#224)
  pkg/executor/plugin/client.go
  pkg/executor/plugin/client_manager.go
  pkg/executor/rpc/proto_conversion.go
  pkg/executor/tree/tree.go
  pkg/scheduler/scheduler.go
  pkg/task/task.go
  plugins/k8s/resources/resources.go
  plugins/test/test.go
Due: go-mod-tidy

Revert "ci: enable push workflow on pull_request (#223)" (#225)
  .github/workflows/push.yaml
Due: none

ci: use go tool for cue
  .github/workflows/push.yaml
  .pre-commit-config.yaml
  go.mod
Due: none

ci: move check-json to check-json5
  .pre-commit-config.yaml
Due: none

feat: add devcontainer definition
  .devcontainer/Dockerfile
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
Due: none
